html {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
body {
    margin: 0;
    padding: 0;
    font-family: 'Smythe', cursive;
}

.all-content {
    width: 600px;
    height: 1161px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Header */

.header {
    background: url(images/Header\ Img.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 167px;
    color: #FFF;
}

.header-title {
    position: absolute;
    font-weight: 400;
    font-size: 39px;
    left: 46px;
    top: 46px;
    line-height: 24px;
}

.header-subheading {
    position: absolute;
    font-weight: 400;
    left: 46px;
    top: 89px;
    font-weight: 400;
    line-height: 14px;
    font-size: 22px;
    height: 8px;
}

/* Menu Items */

.menu-items {
    display: flex;
    align-items: center;
    height: 140px;
    margin: 46px;
}