html {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
body {
    margin: 0;
    padding: 0;
    font-family: 'Smythe', cursive;
    background-color: #DEDEDE;
}

.all-content {
    width: 600px;
    height: 1161px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
}

/* Header */

.header {
    background: url(images/Header\ Img.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 167px;
    color: #FFF;
}

.header-title {
    position: absolute;
    font-weight: 400;
    font-size: 39px;
    left: 46px;
    top: 46px;
    line-height: 24px;
    margin: 0;
}

.header-subheading {
    position: absolute;
    font-weight: 400;
    left: 46px;
    top: 89px;
    font-size: 22px;
    font-weight: 400;
    line-height: 14px;
    margin: 0;
}

/* Menu Items */

.menu-items {
    display: flex;
    align-items: center;
    height: 140px;
    margin: 46px;
    border-bottom: 1px solid #D2D2D2;
}

.item-contents {
     margin-left: 36px;
}

.menu-item-title {
    font-size: 28px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0;
}

.item-description {
    color: #8B8B8B;
    font-size: 16px;
    margin: 5px 0 0 0;
}

.item-price {
    font-size: 20px;
    margin: 14px 0 0 0;
}

.icon {
    position: absolute;
    right: 0;
    margin-right: 46px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1.5px solid #DEDEDE;
    display: flex;
    align-items: center;
    justify-content: center;
}

i {
    font-size: 1.4rem;
    color: #3C3C3C;
}